# React Native
node_modules/
android/
ios/
.env

# Java backend
target/
*.class
*.jar
*.war
*.log

# General
.DS_Store
.idea/
*.iml

# Firebase
backend/src/main/resources/firebase-service-account.json

# OpenAI key or config
backend/src/main/resources/application.properties
